# Virtual environment
venv/
.venv/
env/
.env
.env.example

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

.env

data/
!evaluation/data/
evaluation/data/*
!evaluation/data/controlled_generation_qa.json
# Pytest cache
pytest_cache/
.pytest_cache/
pytest-cache-files-*/
